<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
  <p class="subtitulo">Aquí comienza todo</p>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="titulo">SkeletonAPP</ion-title>
    </ion-toolbar>
    <p class="subtitulo">Aquí comienza todo</p>
  </ion-header>

  <div id="container">
    
    <p><strong>Bienvenido!</strong><p>
    
    <ion-list>
      <ion-list>
        <p><strong>Usuario: {{ usuarioRecibido }}</strong><p></p>
        <p><strong>Información Adicional</strong><p></p>
        <ion-item>
          <ion-input label="Nombre" type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Apellido" type="text" [(ngModel)]="apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Nivel Educación" placeholder="Seleccione Nivel" [(ngModel)]="nivelEduc">
            <ion-select-option value="em-incompleta">Enseñanza media incompleta</ion-select-option>
            <ion-select-option value="em-completa">Enseñanza media completa</ion-select-option>
            <ion-select-option value="es-incompleta">Enseñanza superior incompleta</ion-select-option>
            <ion-select-option value="es-completa">Enseñanza superior completa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      
      <ion-button fill="outline" expand="block">Limpiar</ion-button>
      <ion-button fill="outline" expand="block">Mostrar</ion-button>
    </ion-list>

    <p><a target="_blank" rel="noopener noreferrer" href="">Crea tu cuenta gratis</a></p>
  </div>

  
</ion-content>
